<div class="container">
    <div class="row frame">
        <div class="col-lg-4 offset-lg-4" >
            <div class="text-center"> 
                <img width=" 335px" height="73px" src="../../../../assets/image/quiztofun.svg">
            </div>
            <h1>Login</h1>
            <p>Enter your email or username to login</p>
            <br>
            <form>
                <div class="d-flex flex-column mb-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Enter your Name</mat-label>
                        <input matInput placeholder="@example">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Enter your password</mat-label>
                        <input matInput placeholder="@example" type="password">
                    </mat-form-field>
                    <a routerlink="/ForgrtPassword" class="text-end" style="margin-top: -14px;margin-bottom:10px;">forgot
                        password?</a>
                    <button  mat-stroked-button >
                        Continue
                    </button>
                </div>
                <hr>
                <div style="padding: 0 27%;">
                    <div class="d-flex justify-content-between">
                        <button mat-stroked-button color="primary">
                            <mat-icon>facebook</mat-icon>facebook
                        </button>
                        <button mat-stroked-button>
                            <img src="../../../../assets/icon/google.svg" style="height: 34px; width:24px">
                            Google
                        </button>
                    </div>
                    <div style="margin: 16px 0px" class="text-center">
                        <a routerLink="register"> Don't Have an account yet?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>