hr {
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #fff;
    content: 'or login with';
    padding: 0 4px;
    position: relative;
    top: -11px;
}

.frame {
    height: 100vh;
    padding: 30px 0;
}

button:hover,
.mat-form-field-appearance-outline .mat-form-field-flex {
    border: 3px solid #7A5BEE;
}

.mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-outline {
    opacity: 0;
    transition: opacity .6s cubic-bezier(.25, .8, .25, 1);
}

a {
    color: #7A5BEE;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick:hover{
    color: white;
}

h1{
    
// position: relative;
width: 85px;
height: 39px;
// left: 416px;
// top: 185px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.02em;
}